
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../assets/images/KU_Logo.png">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Athiti:wght@500&family=IBM+Plex+Sans+Thai:wght@500;600&family=Noto+Sans+Thai:wght@200&display=swap" rel="stylesheet">

    <title>รับสมัครนิสิตใหม่ ปี 2566</title>    

    <!-- Bootstrap core CSS --> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="menu">
      <ul class="a">
        <li><a href="login.html" class="active">สมัครเรียน</a></li>
        <li><a href="https://cb.ku.ac.th/apply/">สมัคร Non-Degree</a></li>
        <li><a href="https://misreg.csc.ku.ac.th/misreg/admissions/TCAS66_SCHEDULE_03_04_66.pdf">กำหนดการนิสิตใหม่</a></li>
      </ul>
    </div>
    <div class="header">
      <div class="header-inside">
      <div class="logo">
        <img src="../assets/images/KU_Logo.png" alt="" width="100">
      </div>
        <div class="text_logo">
          <h1 style="font-weight:800; color:#006664">รับสมัครนิสิตใหม่ ปี 2566</h1>
          <p class="en_logo"><b> University<br>Chalermphrakiat Sakon Nakhon Province Campus</b></p>
        </div>
      </div>
    </div>
    <div class="section">
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="picture/1.jpg" class="d-block w-100 picture-banner" alt="...">
          </div>
          <div class="carousel-item">
            <img src="picture/2.jpg" class="d-block w-100 picture-banner" alt="...">
          </div>
          <div class="carousel-item">
            <img src="picture/4.jpg" class="d-block w-100 picture-banner" alt="...">
          </div>
          <div class="carousel-item">
            <img src="picture/10.jpg" class="d-block w-100 picture-banner" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <div class="tcas">
        <b>กำหนดการ TCAS 66</b>  <a href="picture/5.jpg">คลิกลิ้งค์นี้</a>
      </div>
    </div>
    <div class="group">
        <div class="group_1">
          <p>คณะทรัพยากรธรรมชาติและอุตสาหกรรมเกษตร</p>
          <img src="picture/6.jpg" alt="" width="300px" class="group_picture">
          <div class="link"><a href="https://fna.csc.ku.ac.th/">รายละเอียดเพิ่มเติม</a></div>
        </div>
        <div class="group_1">
          <p>คณะวิทยาศาสตร์และวิศวกรรมศาสตร์</p>
          <img src="picture/7.jpg" alt="" width="300px" class="group_picture">
          <div class="link"><a href="https://kuse.csc.ku.ac.th/">รายละเอียดเพิ่มเติม</a></div>
        </div>
        <div class="group_1">
          <p>คณะศิลปศาสตร์และวิทยาการจัดการ</p>
          <img src="picture/8.jpg" alt="" width="300px" class="group_picture">
          <div class="link"><a href="https://fam.csc.ku.ac.th/">รายละเอียดเพิ่มเติม</a></div>
        </div>
        <div class="group_1">
          <p>คณะสาธารณสุขศาสตร์</p>
          <img src="picture/9.jpg" alt="" width="300px" class="group_picture">
          <div class="link"><a href="https://fph.csc.ku.ac.th/th/">รายละเอียดเพิ่มเติม</a></div>
        </div>
    </div>
    <div class="clear"></div>
    <footer>
     <p class="Copyright">Copyright © 2023 รับสมัครนิสิตใหม่ ปี 2566. All Rights Reserved.</p>
    </footer>
  </body>
</html>
<script>
  gsap.registerPlugin(ScrollTrigger);
  // REVEAL //
  gsap.utils.toArray(".revealUp").forEach(function (elem) {
    ScrollTrigger.create({
      trigger: elem,
      onEnter: function () {
        gsap.fromTo(
          elem,
          { y: 100, autoAlpha: 0 },
          {
            duration: 1.25,
            y: 0,
            autoAlpha: 1,
            ease: "back",
            overwrite: "auto"
          }
        );
      },
      onLeave: function () {
        gsap.fromTo(elem, { autoAlpha: 1 }, { autoAlpha: 0, overwrite: "auto" });
      },
      onEnterBack: function () {
        gsap.fromTo(
          elem,
          { y: -100, autoAlpha: 0 },
          {
            duration: 1.25,
            y: 0,
            autoAlpha: 1,
            ease: "back",
            overwrite: "auto"
          }
        );
      },
      onLeaveBack: function () {
        gsap.fromTo(elem, { autoAlpha: 1 }, { autoAlpha: 0, overwrite: "auto" });
      }
    });
  });
  </script>